@model FurnitureShop.Models.User

@{
    ViewData["Title"] = "Edit";
}

<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3>User</h3><small>Edit</small>
                            </div>
                            <div class="col-md-auto">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <div class="mb-3 row">
                                    <label asp-for="Name" class="col-sm-1 form-label"></label>
                                    <div class="col-sm-3">
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="mb-3 row">
                                    <label asp-for="Email" class="col-sm-1 form-label"></label>
                                    <div class="col-sm-3">
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="mb-3 row">
                                    <label asp-for="Password" class="col-sm-1 form-label"></label>
                                    <div class="col-sm-3">
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="mb-3 row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-2">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a id="btnAdd" role="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
