@model FurnitureShop.Models.Banner

@{
    ViewData["Title"] = "Create";
}

<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md">
                                <h3>Banner</h3><small>Create</small>
                            </div>
                            <div class="col-md-auto">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <div class="mb-3 row align-items-center">
                                    <label asp-for="Title" class="form-label col-sm-2 text-end">Title:</label>
                                    <div class="col-sm-4">
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="mb-3 row align-items-center">
                                    <label asp-for="Image" class="form-label col-sm-2 text-end">Image:</label>
                                    <div class="col-sm-4">
                                        <input asp-for="Image" class="form-control" type="file" accept="image/*" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="mb-3 row align-items-center">
                                    <label asp-for="DisplayOrder" class="form-label col-sm-2 text-end">Display Order:</label>
                                    <div class="col-sm-4">
                                        <input asp-for="DisplayOrder" class="form-control" />
                                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="mb-3 row">
                                    <div class="col-sm-2">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a id="btnAdd" role="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


