@{
	ViewData["Title"] = "About Page";

	var pageAboutUs = ViewData["PageAboutUs"] as FurnitureShop.Models.Page;

	var serviceInAbout = ViewData["AboutService"] as FurnitureShop.Models.Page;

	var bannerAboutUs = ViewData["BannerAboutUs"] as FurnitureShop.Models.Banner;
	var reviewAboutUs = ViewData["AboutReviews"] as FurnitureShop.Models.Review;


}
<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>@pageAboutUs?.Title</h1>
					<p class="mb-4">
						@pageAboutUs?.Content
					</p>
					<p>
						<a asp-action="Contact" asp-controller="Home" class="btn btn-white-outline">Explore</a>
					</p>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="~/data/banners/@bannerAboutUs.Image" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-lg-6">
				<h2 class="section-title">
					Tại sao chọn chúng tôi
				</h2>
				<p>Hãy lựa chọn chúng tôi vì sự khác biệt! Chúng tôi luôn mang đến dịch vụ tốt nhất với sự tận tâm. Mọi sản phẩm đều được chăm chút kỹ lưỡng để đảm bảo chất lượng.</p>

				<div class="row my-5">
					@foreach (var item in ViewData["AboutServices"] as List<Feature> ?? [])
					{
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon">
									<img src="~/data/features/@item.Icon" alt="Image" class="imf-fluid" style="width:46px;height:46px">
								</div>
								<h3>@item.Title</h3>
								<p>@item.Subtitle</p>
							</div>
						</div>
					}

				</div>
			</div>

			<div class="col-lg-5">
				<div class="img-wrap">
					<img src="~/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
				</div>
			</div>

		</div>
	</div>
</div>
<!-- End Why Choose Us Section -->
<!-- Start Team Section -->
<div class="untree_co-section">
	<div class="container">

		<!-- Section Title -->
		<div class="row mb-5" style="height:30px">
			<div class="col-lg-5 mx-auto text-center">
				<h2 class="section-title">Our Team</h2>
			</div>
		</div>

		<!-- Team Members -->
		<div class="row justify-content-center">
			<!-- Start Column 1 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center">
				<div class="team-member text-center">
					<div class="mb-4">
						<img src="~/images/personteam.jpg" class="img-fluid rounded-circle" alt="Võ Bá Tài" style="max-width: 150px; height: auto;">
					</div>
					<h3 class="mb-2">
						<a href="#" class="text-dark">
							<span>Võ Bá</span> Tài
						</a>
					</h3>
					
				</div>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			<div class="col-12 col-md-6 col-lg-3 mb-5 d-flex justify-content-center">
				<div class="team-member text-center">
					<div class="mb-4">
						<img src="~/images/personteam.jpg" class="img-fluid rounded-circle" alt="Võ Bá Lộc" style="max-width: 150px; height: auto;">
					</div>
					<h3 class="mb-2">
						<a href="#" class="text-dark">
							<span>Võ Bá</span> Lộc
						</a>
					</h3>
				
				</div>
			</div>
			<!-- End Column 2 -->
		</div>

	</div>
</div>

<!-- End Team Section -->
<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Đánh Giá</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">
						@foreach (var item in ViewData["AboutReviews"] as List<Review> ?? [])
						{
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>@Html.Raw(item.Comment)</p>
											</blockquote>

											<div class="author-info">
												<div class="author-pic">
													<img src="~/admin/img/undraw_profile.svg" alt="Person" class="img-fluid">
												</div>
												<h3 class="font-weight-bold">@item.User.Name</h3>
												<span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
											</div>
										</div>

									</div>
								</div>
							</div>
						}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
